main{
    display: flex;
    margin-top: 5rem;
    flex-direction: column-reverse;
    height: 100%;
    align-items: center;
}

.project-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 40rem;
    padding: 1rem;
    border: 1px #9B59B6 solid;
    border-radius: 24px;
    transition: .5s ease;
}

.project-container:hover{
    box-shadow: 0 0 10px gray;
}

.project-link{
    font-size: 48px;
    transition: .5s ease;
}

.project-link:hover{
    color: #9B59B6;
}

.skills{
    display: flex;
    margin: 1rem;
}

.skills span a{
    margin: .5rem;
    border: 1px solid #fff;
    border-radius: 24px;
    padding: 0.4rem;
}

.skills span a:hover{
    color: black;
    background-color: white;
    box-shadow: 0 0 10px gray;
}