section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-skills{
    font-size: 3.2rem;
}

.skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    width: 18rem;
    font-size: 2.5rem;
    border: 1px #9B59B6 solid;
    border-radius: 15px;
    align-items: center;
}

.skill h4 a{
    color: var(--text-color);
}

.form_image{
    display: flex;
    font-size: .8rem;
    flex-direction: column;
    width: 50%;
}
.form_image p{
    display: flex;
    flex-direction: column;
}

.add-skill a{
    color: var(--text-color);
    font-size: 10rem;
    transition: .5s ease;
}

.add-skill a:hover{
    transform: rotate(180deg);
    color: #9B59B6;
}

.add-skill h1{
    font-size: 1.5rem;
}