.content{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.newspaper-image{
    width: 20rem;
    height: 28rem;
}

.newspaper-container{
    display: flex;
    flex-wrap: wrap;
}

.newspaper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

