<header class="header">
    <a href="{% url 'index' %}" class="logo">Lucas Silva</a>
    <i class='bx bx-menu' id="menu-icon"></i>
    <nav class="navbar">
        <a href="{% url 'index' %}" style="--i:1;" class="{% if request.path == '/' %}active{% endif %}">Home</a>
        <a href="{% url 'portfolio' %}" style="--i:2;" class="{% if request.path == '/portfolio/' %}active{% endif %}">Portfolio</a>
        <a href="{% url 'skills' %}" style="--i:3;" class="{% if request.path == '/skill/' %}active{% endif %}">Skills</a>
        <a href="{% url 'about' %}" style="--i:4;" class="{% if request.path == '/about/' %}active{% endif %}">About</a>
        <a href="{% url 'contact' %}" style="--i:5;" class="{% if request.path == '/contact/' %}active{% endif %}">Contact</a>
    </nav>
</header>