<header>
    <div class="title-logo">
        <a href="{% url 'index' %}"><h1>Lucas Silva</h1></a>
    </div>
    <nav>
        <ul>
            <li>
            <a href="{% url 'index' %}" style="--i:1;" class="{% if request.path == '/' %}active{% endif %}">Home</a>
            </li>
            <li>
                <a href="{% url 'soon' %}" style="--i:2;">Skills</a>
            </li>
            <li>
                <a href="{% url 'portfolio' %}" style="--i:3;" class="{% if request.path == '/portfolio/' %}active{% endif %}">Portfolio</a>
            </li>
            <li>
                <a href="{% url 'soon' %}" style="--i:4;">Contact</a>
            </li>
            <li>
                <a href="{% url 'soon' %}" style="--i:5;">About me</a>
            </li>
        </ul>
    </nav>
</header>