{% extends 'core/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'portfolio/css/portfolio_list.css' %}">
{% endblock styles %}
{% block content %}

<section>
    {% if object_list %}
        {% for project in object_list %}
            <div class="project-container">
                <a href="{% url 'project' project.id %}" >
                    <h1 class="project-link">{{ project.name }}</h1>
                </a>
                <p>{{ project.description }}</p>
                {% if project.skills.all %}
                <div class="skills">
                    {% for skill in project.skills.all %}
                        <span>
                            <a href="{% url 'skill_detail' skill.id %}">
                                {{ skill }}
                            </a>
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% if request.user.is_authenticated %}
            <div class="admin">
                <a href="{% url 'admin:portfolio_project_change' project.id %}" class="edit">Editar</a>
                <a href="{% url 'admin:portfolio_project_delete' project.id %}" class="delete">Eliminar</a>
            </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="project-container">
            <h1 class="project-link">No projects to display</h1>
        </div>
    {% endif %}
    <a href="{% url 'admin:portfolio_project_add' %}" class="add-project">
        <h1>Create new project +</h1>
    </a>
</section>

{% endblock content %}