{% extends 'consultora/base.html' %}
{% load static %}
{% load custom_templates %}
{% block styles %}
<link rel="stylesheet" href="{% static 'consultora/css/style.css' %}">
<link rel="stylesheet" href="{% static 'consultora/css/clipping_detail.css' %}">

{% endblock styles %}
{% block content %}

<section>
    <a href="{% url 'consultora:clipping_list' %}" class="btn-reverse">
        <
    </a>

    <h1 class="body_title" id="title-main">San Juan, {{ clipping.date.day }} de {{ clipping.date.month | int_to_month }} de {{ clipping.date.year }}</h1>

    <ul class="newspaper_container">
        {% for newspaper in clipping.newspaper.all %}
            <li class="newspaper" id="newspaper-{{ newspaper.pk }}">
                <div class="newspaper_head">
                    <h2 >{{ newspaper }}</h2>
                    <img src="{% if newspaper.image %}{{ newspaper.image.url }}{% else %}{% endif %}" alt="Imagen de diario {{ newspaper }}" class="image-newspaper">
                    {% if request.user.is_authenticated %}
                    <form method="post" enctype="multipart/form-data" class="upload_image_form">
                        {% csrf_token %}
                        <input type="text" value="{{ newspaper.pk }}" name="newspaper_pk_img" style="display: none;">
                        {{ form }}
                        <input type="submit" value="Guardar Imagen" class="btn-submit">
                    </form>
                    <form action="{% url 'consultora:clipping_detail' clipping.pk %}" method="POST" >
                        {% csrf_token %}
                        <input type="text" name="remove_newspaper" id="remove_newspaper" value="{{ newspaper }}" style="display: none;">
                        <input type="submit" value="Eliminar Diario" class="btn-delete">
                    </form>
                    {% endif %}
                </div>
                <div class="newspaper_content">
                        {% for article in newspaper.article_set.all %}
                            <a href="#article-content-{{ article.pk }}" class="smooth-scroll article-title">-{{ article.title }}</a>
                            <p class="article-subtitle">{{ article.subtitle }}</p>
                            {% if request.user.is_authenticated %}
                            <div class="btn-box">
                                <a href="{% url 'consultora:delete_article' article.id %}" class="btn-delete">Eliminar Articulo</a>
                                <a href="{% url 'consultora:article_update' article.id %}" class="btn-edit">Editar Articulo</a>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% if request.user.is_authenticated %}
                <form action="{% url 'consultora:clipping_detail' clipping.pk %}#newspaper-{{ newspaper.pk }}" method="POST" class="article_form">
                    {% csrf_token %}
                    <input type="text" name="article_newspaper" id="article_newspaper" style="display: none;" value="{{ newspaper }}">
                    <h4>Añadir articulo</h4>
                    <label for="add_article">Título</label>
                    <input type="text" name="add_article" id="article">
                    <label for="add_article_description">Subtítulo</label>
                    <textarea name="add_article_description" id="add_article_description" class="text-area-article"></textarea>
                    <label for="add_url">Url</label>
                    <input type="text" name="add_url" id="add_url">
                    <input type="submit" class="btn-submit" value="Añadir Artículo">
                </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if request.user.is_authenticated %}
    <form action="{% url 'consultora:clipping_detail' clipping.pk %}" method="POST" class="newspaper_form">
        {% csrf_token %}
        
        <label for="newspaper">Añadir diario</label>
        <input type="text" list="newspapers" name="newspaper" id="newspaper">
        <datalist id = 'newspapers'>
            {% for newspaper in newspapers %}
            <option value="{{newspaper}}">
            {% endfor %}
        </datalist>
        <input type="submit" value="Añadir" id="" class="btn-submit">
    </form>
    {% endif %}

    <div class="news">
        <i class='bx bxs-news'></i>
        <h1>Diarios</h1>
    </div>

    <div class="newspaper_xl_content">
        {% for newspaper in clipping.newspaper.all %}
            <h2 class="newspaper-title">{{ newspaper }}</h2>
            {% for article in newspaper.article_set.all %}
            
                <h3 class="article-title-xl" id="article-content-{{ article.pk }}">-<u>{{ article.title }}</u></h3>
                    <div class="parragraph-content">
                        <div class='custom-p'>{{ article.subtitle }}</div>
                        {% for image in article.image_set.all %}
                            <img src="{% if article.image %}{{ newspaper.image.url }}{% else %}{% endif %}" alt="">
                            {% if request.user.is_authenticated %}
                            <form action="{% url 'consultora:clipping_detail' clipping.pk %}#article-content-{{ article.pk }}" method="POST">
                                {% csrf_token %}
                                <input type="text" name="delete_image_article" id="delete_image_article" value="{{ image.pk }}" style="display: none;">
                                <input type="submit" value="Eliminar Imagen" class="btn-delete">
                            </form>
                            {% endif %}
                        {% endfor %}
                        {% for parragraph in article.parragraph_set.all %}
                            <div class='custom-p'>
                                {{ parragraph.content|safe  }}
                            </div>
                            {% if request.user.is_authenticated %}                            
                            <div class="btn-box">
                                <a href="{% url 'consultora:parragraph_delete' parragraph.id %}" class="btn-delete">Eliminar Parrafo</a>
                                <a href="{% url 'consultora:parragraph_update' parragraph.id %}" class="btn-edit">Editar Párrafo</a>
                            </div>
                            {% endif %}
                        {% endfor %}

                        <a href="{{ article.url }}" target="_blank" class="note-link">Link de la nota</a>
                        
                        {% if request.user.is_authenticated %}
                        <form action="{% url 'consultora:clipping_detail' clipping.pk %}#article-content-{{ article.pk }}" method="POST" class="form-parragraph">
                            {% csrf_token %}
                            <input type="text" name="article_id" id="article_id" value="{{ article.pk }}" style="display: none;">
                            <textarea name="add_parragraph" id="add_parragraph" class="parragraph"></textarea>
                            <input type="submit" value="Agregar Parrafo" class="btn-submit">
                        </form>

                        <form action="{% url 'consultora:clipping_detail' clipping.pk %}#article-content-{{ article.pk }}" method="POST" enctype="multipart/form-data" class="article-image-form" width="5px">
                            {% csrf_token %}
                            <input type="text" name="add_image_article" id="image_article" value="{{ article.pk }}" style="display: none;">
                            {{ form_image_article.as_p }}
                            <input type="submit" value="Subir" class="btn-submit">
                        </form>
                        {% endif %}
                        <a href="#newspaper-{{ newspaper.pk }}" class="smooth-scroll back">Volver</a>
                    </div>
                {% endfor %}
        {% endfor %}
        {% if request.user.is_authenticated %}
            <form action="" method="post">{% csrf_token %}
                <input type="text" name="send_email_form" value="{{ clipping.pk }}">
                <input type="submit" class="btn-submit" value="Enviar Email">
            </form>
        {% endif %}
    </div>
</section>


{% endblock %}