{% extends 'consultora/base.html' %}
{% load static %}
{% load custom_templates %}
{% block styles %}
<link rel="stylesheet" href="{% static 'consultora/css/style.css' %}">
<link rel="stylesheet" href="{% static 'consultora/css/clipping_list.css' %}">
{% endblock styles %}
{% block content %}
<section>
    <ul class="clippings">
    {% for clipping in object_list|dictsort:"id" reversed  %}
            <li class="clipping"> 
                <h1 class="clipping-title">
                    <a href="{% url 'consultora:clipping_detail' clipping.pk %}">Clipping {{ clipping.date.day }} de {{ clipping.date.month |int_to_month}} del {{ clipping.date.year }}</a>
                </h1>
                <ul class="newspaper_list">
                    {% for newspaper in clipping.newspaper.all %}
                    <li>
                        {{ newspaper }}
                    </li>
                    {% endfor %}
                </ul>
            </li>
    {% endfor %}
        <li class="add_clipping">
            <div>
                <h1>Nuevo Clipping</h1>
                <div class="btn">
                    <a href="{% url 'admin:consultora_clipping_add' %}">+</a>
                </div>
            </div>
        </li>
    </ul>
</section>
{% endblock content %}