{% load static %}

<img src="{% static 'consultora/img/bg-color-blue.png' %}" alt="" class="blue-sun">
<header>

    <div class="title">
        <h1>
            <a href="{% url 'consultora:index' %}" class="title-link">
                Comunicar Consultora
            </a>
        </h1>
        <p class="subtitle">Comunicación Estratégica para la minería</p>
    </div>
    <nav>
        <ul>
            <li class="{% if request.path == '/consultora/' %}deactive{% endif %}">
                <a href="{% url 'consultora:index' %}">Home</a>
            </li>
            <li>
                <a href="">Help</a>
            </li>
            {% if not request.user.is_authenticated %}
            <li>
                <a href="{% url 'login' %}">Iniciar Sesión</a>
            </li>
            <li>
                <a href="{% url 'signup' %}">Registrarse</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'logout' %}">Log out</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <i class='bx bx-menu'></i>
</header>